@import "tailwindcss";

@theme {
  --color-light-green: #7ed56f;
  --color-medium-green: #55c57a;
  --color-dark-green: #28b485;
  --font-main: "Lato", sans-serif;
  --font-secondary: "Rubik", sans-serif;
}

@utility center-elements {
  @apply flex items-center justify-center;
}

@utility hero-title {
  @apply font-main text-5xl font-bold tracking-wider sm:text-8xl sm:tracking-[10px] lg:tracking-[15px];
}

@utility page-container {
  @apply min-h-screen w-full p-3;
}

@utility mini-title {
  @apply font-main font-medium text-gray-500 uppercase sm:text-lg;
}

@utility main-gradient {
  @apply from-light-green/80 to-medium-green/80 bg-linear-to-r;
}

@layer components {
  .main-title {
    @apply font-main mb-10 text-center text-2xl font-bold tracking-wider uppercase sm:text-4xl;
    @apply from-light-green to-medium-green bg-linear-to-r bg-clip-text text-transparent;
    @apply transition-all duration-300 hover:skew-6 hover:drop-shadow-2xl;
  }
  .main-link {
    @apply text-light-green border-b-light-green border-b p-1;
    @apply cursor-pointer transition-all duration-300;
    @apply hover:bg-light-green hover:-translate-y-1 hover:text-white;
  }
}

#image-gradient {
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
}

#cards-clip {
  clip-path: polygon(0 14%, 100% 0, 100% 83%, 0 100%);
}

@layer base {
  html {
    font-family: var(--font-secondary);
    font-weight: 300;
  }
}
